* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h1 {
    text-align: center;
    color: black;
    font-size: 2rem;
}

#task-form {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 4px;
}

button:hover {
    background-color: #45a049;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

.task-item.completed {
    text-decoration: line-through;
    opacity: 0.8;
}

.task-text {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-word;
}

.task-text.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.task-actions button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.edit-btn {
    background-color: #2196F3;
}

.delete-btn {
    background-color: #f44336;
}

.edit-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    min-width: 150px;
}

.save-btn {
    background-color: #FFA500;
}

.save-btn:hover {
    background-color: #FF8C00;
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #task-form {
        flex-direction: column;
    }

    #task-input {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    .task-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .task-text, .edit-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .task-actions {
        width: 100%;
        justify-content: space-between;
    }

    .task-actions button {
        flex-grow: 1;
        margin: 2px;
    }
}